footer.footer 

    .footer__container__logo
        img(src='/img/logoFooter.png', alt='logo')
    .footer__container__contact
        h3 Contact
        p 06 06 06 06 06
        h3 Siège social
        p 2 rue de la ferme 
        p 60350 Croutoy 
    .footer__container__politic 
        a(href='/informations') Politique de confidentialité
        a(href="/informations") Mentions légales