extends base

block content
    #container
        h1= title

            
        #benefits
            #cardReview 

                each benefit in benefits

                    a(href=`/les-prestations/${benefit.slug}`).card 
                        img(src='img/icon.png', alt='Icone')
                        .card--article 
                            h3= benefit.title  
