extends base 

block content
    #container
        h1= title
        
        //- page avec coordonnees de contacts et maps google intégrée à côté

        #contact
            #contactInfo
                p Pour nous contacter c'est simple, appelez nous au 06 34 03 40 10 ou envoyez nous un mail à umbrella.infotech60@gmail.com
            #contactMap
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2597.2131381473578!2d3.041245815500913!3d49.385960079342716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e87cc783fa5f27%3A0x12438bbc2667836a!2sUmbrella%20Corp.!5e0!3m2!1sfr!2sfr!4v1676051788788!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
