extends base

block content
    #container
        h1= title 

        h2 A venir 
        p Vous pourrez bientôt retrouver ici votre documentation ainsi que des support de cours et différents tutoriels 

