extends base

block content
        #container
            .error
                .error__title
                    h2.heading-secondary.heading-secondary--error OH OH ! Quelque chose ne va pas!   
                    h2.error__emoji 😢 🤯
                .error__msg= msg 