extends base 

block content
    #container
        h1= title 
        form.form.form--forgot
            .form-group
                label(for='email') Votre email :
                input(type='email', name='email', id='email')
            .form-group
                input.submit(type='submit', value='Envoyer')
