* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* font-family: "DM Serif Display", serif; */
  font-family: "Inconsolata", monospace;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background: #fef0e4;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 25px 25px;
  background-position: -19px -19px;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #0d70fc;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid black;
}

.header-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.nav-login ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
}

.nav-login ul li a:hover {
  color: black;
}

.nav-login ul li {
  list-style: none;
  padding: 5px 25px 5px 25px;
  margin: 15px 0 15px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.nav-login ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.header-bottom nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
}

.header-middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 0px 0 20px 0;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

h1 {
  font-size: 4rem;
}

.title p {
  text-align: start;
}

header img {
  width: 15%;
}

.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

.header-bottom nav {
  width: 100%;
  margin-bottom: 5px;
}

.header-bottom nav ul li {
  list-style: none;
  padding: 5px 25px 5px 25px;
  margin: 15px 0 15px 0;
  text-align: center;
}

.header-bottom nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}

.header-bottom nav ul li a:hover {
  color: black;
}

/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER */

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 80%;
  margin-bottom: 200px;
}

#container h1 {
  padding: 50px 0 30px 0;
}

.account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 80%;
  margin-bottom: 200px;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 75px 30px 75px 30px;
  /* background-color: #ffffff; */
  border-radius: 5px;
  position: relative;
}

.about-img {
  width: 50%;
  border-radius: 5px;
  /* box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35); */
  border: 1px solid black;
}

.about p,
h2 {
  width: 100%;
  text-align: justify;
  /* padding: 0 0 15px 25px; */
  font-size: larger;
  /* background-color: #fef0e4; */
}

/* .article-photo--pattern-1 {
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 8px;
  border-radius: 5px;
  width: 714px;
  height: 477px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='10' height='10' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(254, 240, 228,1)'/%3E%3Cpath d='M-10 30h60v4h-60zM-10-10h60v4h-60' fill='rgba(26, 32, 44, 1)'/%3E%3Cpath d='M-10 10h60v4h-60zM-10-30h60v4h-60z' fill='rgba(26, 32, 44, 1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.article-photo--pattern-2 {
  z-index: -1;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  width: 50%;
  height: 477px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='10' height='10' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(254, 240, 228,1)'/%3E%3Cpath d='M-10 30h60v4h-60zM-10-10h60v4h-60' fill='rgba(26, 32, 44, 1)'/%3E%3Cpath d='M-10 10h60v4h-60zM-10-30h60v4h-60z' fill='rgba(26, 32, 44, 1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
} */

/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */

#cardReview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 100px 0 100px 0;
}

.card {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #fcab0d;
  border-radius: 5px;
  border: 1px solid black;
  margin: 15px 0 15px 0;
  padding: 15px 0 15px 0;
  transition: 0.3s;
  color: black;
}

.card:hover {
  border-radius: 50px;
}

.card img {
  width: 15%;
  padding-right: 15px;
}

a.card {
  text-decoration: none;
}

.article {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  padding: 40px;
  background-color: #fef0e4;
  margin: 25px;
}

.article a {
  text-decoration: none;
  color: whitesmoke;
}

.article a:hover {
  color: black;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT*/

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 150px 0 150px 0;
}
/* 
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
} */

footer.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #ece1d7;
  padding: 15px 0 15px 0;
}

footer img {
  width: 25%;
  padding: 0 15px 0 15px;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
}

.form__photo-upload label {
  cursor: pointer;

  color: #555;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #eee;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__photo-upload label:hover {
  background-color: #bdcdd9;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT */

.benefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  padding: 100px 0 100px 0;
}

.aboutBenefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  padding: 50px 30px 50px 30px;
  background-color: #ffffff;
  border-radius: 5px;
}

h2 {
  width: 100%;
  text-align: center;
}

.description {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
}

.description h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.description p {
  width: 100%;
  text-align: center;
  height: 50px;
}

.contactUs {
  text-decoration: none;
  border-radius: 5px;
  background-color: #0ca8f2;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.contactUs:hover {
  border-radius: 50px;
}

.priceBenefit {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  padding: 50px 0 20px 0;
}

.reviewBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #ece1d7;
  border-radius: 5px;
  border: 1px solid black;
  margin: 15px;
}

.article p {
  margin: 5px;
}

.reviewBox .article {
  width: 80%;
  padding: 15px;
}

.addReview {
  text-decoration: none;
  border-radius: 5px;
  background-color: #ece1d7;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.addReview:hover {
  border-radius: 50px;
}

textarea {
  width: 80%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
}

select {
  width: 5%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
}

/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN  */

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 0px 0 50px 0;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 50px 30px 50px 30px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 10px;
}

.form-group input {
  width: 50%;
  padding: 15px 10px 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  border: solid black 1px;

  text-align: center;
}

.submit {
  width: 30%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  background-color: #0ca8f2;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: 0.3s;
}

.form button {
  width: 30%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  background-color: #0ca8f2;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

form .btn--delete-benefit {
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(155, 27, 27);
  color: whitesmoke;
  font-size: 1.5rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.submit:hover {
  border-radius: 50px;
}

.form button:hover {
  border-radius: 50px;
}

.form h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.footer__container__politic {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
  padding: 50px 0 50px 0;
}

.footer__container__politic a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: 0.3s;
}

.btn--delete-benefit {
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(155, 27, 27);
  color: whitesmoke;
  font-size: 1.5rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.btn--delete-benefit:hover {
  border-radius: 50px;
}

#user-select {
  width: 150px;
}
/* RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE  */

/* RENDRE LE SITE ADAPTE A UN ECRAN DE 395*850 PIXELS EN METTANT LA NAV EN COLOMNNE AINSI QUE LES FORMULAIRE ET EN RETIRANT LES PHOTOS */

@media screen and (max-width: 930px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 0px 0 50px 0;
  }

  .header-bottom nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  h1 {
    font-size: 2rem;
  }

  .header-bottom nav ul li a {
    font-size: 1rem;
  }

  #container img {
    display: none;
  }

  #cardReview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    width: 100%;
    padding: 50px 0 50px 0;
  }

  .card {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
  }
  .account {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 80%;
    margin-bottom: 200px;
  }

  .form {
    width: 80%;
  }

  .form-group input {
    width: 100%;
  }

  .form button {
    width: 80%;
  }

  .reviewBox {
    width: 80%;
  }

  #contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    width: 100%;
    padding: 150px 0 150px 0;
  }

  .footer__container__logo {
    display: none;
  }
}
