extend base

block content 
    #container
        h1= title 

            //- form.form(action='/login', method='post')
        form.form.form-name
            h2 Modifier mes informations
            .form-group
                label(for='name') Votre nom  :
                input#name(type='text', name='name', value=`${user.name}`, required)
            .form-group
                label(for='firstname') Votre prénom  :
                input#firstname(type='text', name='firstname', value=`${user.firstname}`, required)
            .form-group   
                label(for='email') Votre email :
                input#email(type='email', name='email', value=`${user.email}`, required)
            .form-group.top
                button  Valider
        

        form.form.form-password
            h2 Changer de mot de passe
            .form-group
                label(for='password-current') Votre mot de passe actuel:
                input#password-current(type='password', placeholder='••••••••', required, minlength='8')
            .form-group
                label(for='password') Nouveau mot de passe :
                input#password(type='password', name='password', placeholder='••••••••', required, minlength='8')
            .form-group  
                label(for='password-confirm') Confirmer le mot de passe :
                input#password-confirm(type='password', name='password-confirm', placeholder='••••••••', required, minlength='8')
            .form-group.bottom
                button.btn--save-password Valider

        if (user.role === 'admin')
            form.form.form-admin
                h2 Gestion des utilisateurs
                .form-group
                    label(for='email') Email de l'utilisateur à supprimer :
                    input(type='email', name='email', placeholder='Email', required)
                .form-group.right 
                    button  Supprimer
