doctype html 
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', type='image/png', href='/img/logoBig.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter&display=swap')
        link(href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet")
        title Umbrella Corp | #{title}



    body
        // HEADER
        include _header


        // CONTAINER
        block content
        
        
        // FOOTER
        include _footer

        // SCRIPTS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js')
        script(src='/js/login.js')
            