extends base

block content
    #container
        h1= title
        h2 Mentions légales
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ut aliquam aliquet, nunc nisl aliquam nunc, eget aliquam nunc nisl
        h2 Politiques de confidentialité
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ut aliquam aliquet, nunc nisl aliquam nunc, eget aliquam nunc nisl
