extends base

block content
    #container
        #login
            h1= title
            form.form.form--login
                .form-group
                    label(for='email') Votre email :
                    input(type='email', name='email', id='email', placeholder='exemple@mail.com', required)
                .form-group   
                    label(for='password') Votre mot de passe :
                    input(type='password', name='password', id='password',placeholder='••••••••', required)
                .form-group
                    input.submit(type='submit', value='Se connecter')