extends base

block content
    #container
        h1= title
        
        .about 
            img.about-img(src='img/course.jpg', alt='Photo de cours')
            .article     
                h2 Nos services
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, a voluptatem! Illo delectus eligendi totam nobis voluptatibus magnam id culpa ratione quidem, rerum sint eum, porro reiciendis numquam doloremque nostrum!Asperiores amet adipisci incidunt ea omnis voluptates officia, provident eos quidem delectus possimus molestias aliquam, cumque deleniti veritatis, sit ratione repudiandae cum tempore vel beatae ipsam debitis ex. Eligendi, officia.


        .about 
            .article 
                h2 Notre proximité
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, a voluptatem! Illo delectus eligendi totam nobis voluptatibus magnam id culpa ratione quidem, rerum sint eum, porro reiciendis numquam doloremque nostrum!Asperiores amet adipisci incidunt ea omnis voluptates officia, provident eos quidem delectus possimus molestias aliquam, cumque deleniti veritatis, sit ratione repudiandae cum tempore vel beatae ipsam debitis ex. Eligendi, officia.
            img.about-img(src='img/service3.jpeg', alt='Photo de cours 2')
