extends base

block content
    #container
        h1= title
        
        .about 
            img.about-img(src='img/course.jpg', alt='Photo de cours')
            .article-photo--pattern-1
            .article     
                h2 Notre histoire
                p Je m’appelle Alexandre Muller et je suis diplômé en informatique. Passionné par les nouvelles technologies, c’’est tout naturellement que j’ai décidé d’ouvrir ma société en 2018. Depuis, j’ai accompagné des centaines de clients que ce soit pour les conseiller dans l’achat de matériel informatiques, dans l’installation ou bien pour leur donner des cours de prises en main informatique.



        .about 
            .article 
                h2 Notre proximité
                p Implanté dans l’Oise, je me déplace directement chez vous pour vous apporter le service sur mesure dont vous avez besoin. Je me déplace 6j/7 et vous propose une assistance téléphonique 7j/7.
            img.about-img(src='img/course.jpg', alt='Photo de cours')
            .article-photo--pattern-2
