* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* font-family: "DM Serif Display", serif; */
  font-family: "Inconsolata", monospace;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #0d70fc;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid black;
}

.header-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
}

.nav-login ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
}

.nav-login ul li a:hover {
  color: black;
}

.nav-login ul li {
  list-style: none;
  padding: 5px 25px 5px 25px;
  margin: 15px 0 15px 0;
  text-align: center;
}

.nav-login ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
}

.header-bottom nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
}

.header-middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

h1 {
  font-size: 4rem;
}

.title p {
  text-align: start;
}

header img {
  width: 15%;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

.header-bottom nav {
  width: 100%;
  margin-bottom: 5px;
}

.header-bottom nav ul li {
  list-style: none;
  padding: 5px 25px 5px 25px;
  margin: 15px 0 15px 0;
  text-align: center;
}

.header-bottom nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}

.header-bottom nav ul li a:hover {
  color: black;
}

/* CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER CONTAINER */

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 80%;
  margin-bottom: 200px;
}

#container h1 {
  padding: 50px 0 30px 0;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 75px 0 75px 0;
}

.about-img {
  width: 50%;
  border-radius: 5px;
  /* box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35); */
  border: 1px solid black;
}

.about p,
h2 {
  width: 100%;
  text-align: justify;
  padding: 0 0 15px 25px;
}

/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */

#cardReview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 100px 0 100px 0;
}

.card {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #0ca8f2;
  border-radius: 5px;
  border: 1px solid black;
  /* box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35); */
  margin: 15px 0 15px 0;
  padding: 15px 0 15px 0;
  transition: 0.3s;
}

.card:hover {
  border-radius: 50px;
}

.card img {
  width: 15%;
  padding-right: 15px;
}

.article {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  padding: 25px;
}

.article a {
  text-decoration: none;
  color: whitesmoke;
}

.article a:hover {
  color: black;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT*/

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 150px 0 150px 0;
}

#contact h2 {
  width: 100%;
  text-align: center;
}

#contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#contact form input {
  width: 80%;
  padding: 15px 10px 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  border: solid black 1px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35);
  text-align: center;
}

#contact form textarea {
  width: 80%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35);
}

#contact form input placeholder {
  color: #808080;
  text-align: center;
}

#contact form button {
  width: 80%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.35);
  background-color: #17344f;
  color: whitesmoke;
  font-size: 1.5rem;
}

footer.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #ece1d7;
  padding: 15px 0 15px 0;
}

footer img {
  width: 25%;
  padding: 0 15px 0 15px;
}

/* BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT BENEFIT */

.benefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  padding: 100px 0 100px 0;
}

.aboutBenefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;

  padding-bottom: 50px;
}

h2 {
  width: 100%;
  text-align: center;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.description h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.description p {
  width: 60%;
}

.contactUs {
  text-decoration: none;
  border-radius: 5px;
  background-color: #0ca8f2;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.contactUs:hover {
  border-radius: 50px;
}

.priceBenefit {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  padding: 50px 0 20px 0;
}

.reviewBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #ece1d7;
  border-radius: 5px;
  border: 1px solid black;
  margin: 15px;
}

.article p {
  margin: 5px;
}

.reviewBox .article {
  width: 80%;
  padding: 15px;
}

.addReview {
  text-decoration: none;
  border-radius: 5px;
  background-color: #ece1d7;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  transition: 0.3s;
  padding: 20px;
}

.addReview:hover {
  border-radius: 50px;
}

/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN  */

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 0px 0 50px 0;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 10px;
}

.form-group input {
  width: 80%;
  padding: 15px 10px 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  border: solid black 1px;

  text-align: center;
}

.submit {
  width: 80%;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  background-color: #0ca8f2;
  color: whitesmoke;
  font-size: 1.5rem;
  transition: 0.3s;
}

.submit:hover {
  border-radius: 50px;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
